.dashboard-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	height: 100%;
	z-index: 1;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.3, 0.3);
}

.dashboard-card .card-text {
	padding: 40px 0;
}

.dashboard-card p {
	margin: 0;
}

.dashboard-card .title {
	font-size: 24px;
	font-weight: 700;
	color: var(--white-color);
	text-align: center;
}

.dashboard-card .description {
	font-size: 16px;
	color: var(--white-color);
	text-align: center;
}

.dashboard-card .card-button {
	background-color: rgba(170, 75, 8, 0.28);
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	color: var(--white-color);
}

.dashboard-card.green-card {
	background-color: #25990E;
	position: relative;
}

.dashboard-card.orange-card {
	background-color: #FF8127;
}

.dashboard-card.blue-card {
	background-color: #378CFC;
}


.dashboard-card.green-card::after {
	content: "";
	position: absolute;
	top: 20px;
	right: 0px;
	width: 150px;
	height: 150px;
	background-image: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='DarkGreen' class='bi bi-list-ul' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2'/></svg>");
	background-repeat: no-repeat;
	background-size: contain;
	filter: blur(5px);
	z-index: -1;
}

.dashboard-card.blue-card::after {
	content: "";
	position: absolute;
	top: 20px;
	right: 40px;
	width: 100px;
	height: 100px;
	background-image: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='DarkBlue' class='bi bi-exclamation-diamond-fill' viewBox='0 0 16 16'><path d='M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2'/></svg>");
	background-repeat: no-repeat;
	background-size: contain;
	filter: blur(5px);
	z-index: -1;
}
